
script(src=`${dirname}public/lib/jquery/jquery.min.js`)
script(src=`${dirname}public/lib/bootstrap/js/bootstrap.min.js`)
// BACKSTRETCH
// You can use an image of whatever size. This script will stretch to fit in any screen size.
script(type=`text/javascript` src=`${dirname}public/lib/jquery.backstretch.min.js`)
script.
       setNotification();


      