footer.site-footer
    .text-center
      p
        | &copy; Copyrights 
        strong Dashio
        | . All Rights Reserved
      .credits
        //
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
          Licensing information: https://templatemag.com/license/
        | Created with Dashio template by 
        a(href='https://templatemag.com/') TemplateMag
      a.go-top(href='blank.html#')
        i.fa.fa-angle-up
        
// js placed at the end of the document so the pages load faster
script(src=`${dirname}public/lib/jquery/jquery.min.js`)
script(src=`${dirname}public/lib/bootstrap/js/bootstrap.min.js`)
script(src=`${dirname}public/lib/jquery-ui-1.9.2.custom.min.js`)
script(src=`${dirname}public/lib/jquery.ui.touch-punch.min.js`)
script.include(type=`text/javascript` src=`${dirname}public/lib/jquery.dcjqaccordion.2.7.js`)
script(src=`${dirname}public/lib/jquery.scrollTo.min.js`)
script(src=`${dirname}public/lib/jquery.nicescroll.js` type=`text/javascript`)
// common script for all pages
script(src=`${dirname}public/lib/common-scripts.js`)
script(src=`${dirname}public/lib/jquery.backstretch.min.js`)
//- script.
//-   setNotification();
//-   var token = window.localStorage.getItem('token',`#{token}`)

//-   if (!token) {
//-     var token = window.localStorage.setItem('token',`#{token}`)
//-     if(token){
//-       $.ajaxSetup({
//-       headers: {
//-         'x-access-token': token
//-       }
//-     });
//-     }
//-   }
//-   console.log(token);