head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='')
  meta(name='author' content='Dashboard')
  meta(name='keyword' content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
  title Dashio - Bootstrap Admin Template
  // Favicons
  link(href= `${dirname}public/img/favicon.png` rel='icon')
  link(href=`${dirname}public/img/apple-touch-icon.png` rel='apple-touch-icon')
  // Bootstrap core CSS
  link(href=`${dirname}public/lib/bootstrap/css/bootstrap.min.css` rel='stylesheet')
  // external css
  link(href=`${dirname}public/lib/font-awesome/css/font-awesome.css` rel='stylesheet')
  // Custom styles for this template
  link(href=`${dirname}public/css/style.css` rel='stylesheet')
  link(href=`${dirname}public/css/style-responsive.css` rel='stylesheet')
  //script(src=`${dirname}public/js/shared/function.js`)
  //script(src=`${dirname}public/js/shared/fetch.js`)
  //script(src=`${dirname}public/js/shared/baseService.js`)

  //- script.
  //-       verifyUserLogin();

  