aside
    #sidebar.nav-collapse
      // sidebar menu start
      ul#nav-accordion.sidebar-menu
        p.centered
          a(href='profile.html')
            img.img-circle(src=`${dirname}public/img/ui-sam.jpg` width='80')
        h5.centered Sam Soffes
        li.mt
          a(href=`${dirname}home/dashboard/${id}`)
            i.fa.fa-dashboard
            span Dashboard
        li.sub-menu
          a(href='javascript:;')
            i.fa.fa-desktop
            span Book
          ul.sub
            li
              a(href=`${dirname}home/addBook`) Add Book
            li
              a(href=`${dirname}home/bookList`) Book List
        