doctype html
html
include inc/header.pug
body
  //
    **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    ***********************************************************************************************************************************************************
  
    **********************************************************************************************************************************************************
    MAIN CONTENT
    ***********************************************************************************************************************************************************
  // main content start
  .container
  .row
    .col-lg-6.col-lg-offset-3.p404.centered
      img(src='img/404.png' alt='')
      h1 DON&apos;T PANIC!!
      h3 The page you are looking for doesn&apos;t exist.
      br
      .row
        .col-md-8.col-md-offset-2
          input#form1Name.form-control(type='text' name='form1Name')
          button.btn.btn-theme.mt Search
      h5.mt Hey, maybe you will be interested in these pages:
      p
        a(href='home/dashboard') Index
        |  | 
        a(href='#') Sitemap
        |  | 
        a(href='contact')  Contact
      // /wrapper
    // /MAIN CONTENT
    // main content end
// js placed at the end of the document so the pages load faster
script(src=`${dirname}public/lib/bootstrap/js/bootstrap.min.js`)
script(src=`${dirname}public/lib/jquery/jquery.min.js`)
  