doctype html
html
include inc/header.pug
body
  section#container
  //
    **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    ***********************************************************************************************************************************************************
  // header start
  include inc/top-navbar.pug
  //navbar start
  include inc/side-navbar.pug
  //
    **********************************************************************************************************************************************************
    MAIN CONTENT
    ***********************************************************************************************************************************************************
  // main content start
  section#main-content
    section.wrapper.site-min-height
      include inc/notification.pug
      h3
        i.fa.fa-angle-right
        |  Book
      // row
      .row.mt
      .col-md-12
      .content-panel
        table.table.table-striped.table-advance.table-hover
          h4
            i.fa.fa-angle-right
            |  Book List
            a(href=`${dirname}home/addBook` class="btn btn-primary pull-right") Add Book  
          hr
          thead
            tr
              th
                i.fa.fa-bullhorn
                |  Book Name
              th.hidden-phone
                i.fa.fa-question-circle
                |  Type
              th
                i.fa.fa-bookmark
                |  Description
              th
                i.fa.fa-bookmark
                |  ISBN
              th
                i.fa.fa-bookmark
                |  Rack No
              th
                i.fa.fa-bookmark
                |  Added Date
              th
                i.fa.fa-bookmark
                |  Updated Date
              th
                i.fa.fa-edit
                |  Status
              th
                i.fa.fa-edit
                |  Action
              th
          tbody(id='bookListTbody')
            tr
              td.bookName
                a(href='basic_table.html#')
              td.hidden-phone.bookType  
              td.description
              td.isbn   
              td.rackNo 
              td.addedDate
              td.updatedDate  
              td.status
                span.label.label-info.label-mini Due
              td.action
                button.btn.btn-success.btn-xs.changeStatus
                  i.fa.fa-check
                button.btn.btn-primary.btn-xs(class="editBook")
                  i.fa.fa-pencil
                button.btn.btn-danger.btn-xs(class="deleteBook")
                  i.fa.fa-trash-o
    //content-panel
    //wrapper
    // /MAIN CONTENT
    // main content end
    // footer start
    include inc/footer.pug
    // footer end
    script(src=`${dirname}public/js/routes/home/bookReq.js`)
    script.
          getBookList();
          deleteBook();
          editBook();
          updateBookStatus();
