doctype html
html
include inc/header.pug
body
  section#container
  //
    **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    ***********************************************************************************************************************************************************
  // header start
  include inc/top-navbar.pug
  //navbar start
  include inc/side-navbar.pug
  //
    **********************************************************************************************************************************************************
    MAIN CONTENT
    ***********************************************************************************************************************************************************
  // main content start
  section#main-content
    section.wrapper.site-min-height
      include inc/notification.pug
      h3
        i.fa.fa-angle-right
        |  Edit Book
      .row.mt
        .col-lg-12
          p
          p #{id} #{dirname}
          p 
          .form-panel
            form(id='editBookForm' accept-charset='utf-8')
              .box-body
              .form-group.col-md-6
                label Book Name
                small.req  *
                input#bookName.form-control(autofocus='' name='bookName' placeholder='' type='text' value='' autocomplete='off' required='')
                span.text-danger
              .form-group.col-md-6
                label Book Type
                small.req  *
                input#bookType.form-control(name='bookType' placeholder='' type='text' value='' required='')
                span.text-danger
              .clearfix
              .form-group.col-md-6
                label ISBN Number
                input#isbn.form-control(name='isbnNo' placeholder='' type='number' value='')
                span.text-danger
              .form-group.col-md-6
                label Publisher
                input#publisher.form-control(name='publisher' placeholder='' type='text' value='')
                span.text-danger
              .clearfix
              .form-group.col-md-6
                label Author
                small.req  *
                input#author.form-control(name='bookAuthor' placeholder='' type='text' value='' required='')
                span.text-danger
              .form-group.col-md-6
                label Subject
                input#subject.form-control(name='bookSubject' placeholder='' type='text' value='')
                span.text-danger
              .clearfix
              .form-group.col-md-6
                label Rack Number
                small.req  *
                input#rackNo.form-control(name='rackNo' placeholder='' type='number' value='' required='')
                span.text-danger
              .form-group.col-md-6
                label Qty
                small.req  *
                input#qty.form-control(name='bookQty' placeholder='' type='number' value='' required='')
                span.text-danger
              .clearfix
              .form-group.col-md-6
                label Book Price (Rs)
                small.req  *
                input#price.form-control(name='bookPrice' placeholder='' type='number' value='' required='')
                span.text-danger
              .form-group.col-md-6
                label Return Timeframe (days)
                small.req  *
                input#returnTimeframeDays.form-control(name='returnTimeframeDays' placeholder='' type='number' value='7' required='')
                span.text-danger
              .clearfix
              .form-group.col-md-6
                label Fine Per Day (Rs)
                small.req  *
                input#finePerDay.form-control(name='finePerDay' placeholder='' type='number' value='20' required='')
                span.text-danger
              .form-group.col-md-6
                label Description
                textarea#description.form-control(name='bookDescription' placeholder='' rows='3')
                span.text-danger
              .clearfix
              .form-group.col-md-6
                button.btn.btn-primary(type='submit' name='submit' value='book-update' val='') Update Book
              .clearfix

      // /wrapper
    // /MAIN CONTENT
    // main content end
    // footer start
    include inc/footer.pug
    script(src=`${dirname}public/js/routes/home/bookReq.js`)
    script.
          getBookById(); 
          updateBook();
