doctype html
html
include inc/header.pug
body
  section#container
  //
    **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    ***********************************************************************************************************************************************************
  // header start
  include inc/top-navbar.pug
  //navbar start
  include inc/side-navbar.pug
  //
    **********************************************************************************************************************************************************
    MAIN CONTENT
    ***********************************************************************************************************************************************************
  // main content start
  section#main-content
    section.wrapper.site-min-height
      h3
        i.fa.fa-angle-right
        |  Blank Page
      .row.mt
        .col-lg-12
          p Place your content here.
          p #{token}
          p 
      // /wrapper
    // /MAIN CONTENT
    // main content end
    // footer start
    include inc/footer.pug
