doctype html
html
include inc/header.pug
body
  //
    **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    ***********************************************************************************************************************************************************
  
    **********************************************************************************************************************************************************
    MAIN CONTENT
    ***********************************************************************************************************************************************************
  // main content start
  #login-page
  .container
    form.form-login(id='registerForm')
      h2.form-login-heading sign up now
      include inc/notification.pug
       
      .login-wrap
        input.form-control(type='text' name='username' placeholder='Username' autofocus='')
        br
        input.form-control(type='email' name='email' placeholder='Email' autofocus='')
        br
        input.form-control(type='password' name='password' placeholder='Password')
        br
        input.form-control(type='password' name='repassword' placeholder='Retype password')
        label.checkbox
          input(type='checkbox',name='rememberMe' value='remember-me')
          |  Remember me
          span.pull-right
            a(data-toggle='modal' href='auth/login#myModal')  Forgot Password?
        button.btn.btn-theme.btn-block(type="submit",name='submit')
          i.fa.fa-lock
          |  REGISTER
        hr
        .login-social-link.centered
          p or you can sign in via your social network
          button.btn.btn-facebook(type='submit')
            i.fa.fa-facebook
            |  Facebook
          button.btn.btn-twitter(type='submit')
            i.fa.fa-twitter
            |  Twitter
        .registration
          | Don&apos;t have an account yet?
          br
          a(href='/auth/login')
            | Login instead?
      // Modal
      #myModal.modal.fade(aria-hidden='true' aria-labelledby='myModalLabel' role='dialog' tabindex='-1')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
              h4.modal-title Forgot Password ?
            .modal-body
              p Enter your e-mail address below to reset your password.
              input.form-control.placeholder-no-fix(type='text' placeholder='Email' autocomplete='off')
            .modal-footer
              button.btn.btn-default(data-dismiss='modal' type='button') Cancel
              button.btn.btn-theme(type='button') Submit
      // modal

      // /wrapper
    // /MAIN CONTENT
    // main content end
    include inc/auth-footer.pug
    
    script.
      $.backstretch(`#{dirname}public/img/login-bg.jpg`, {
      speed: 500
      });
    script(src=`${dirname}public/js/routes/auth/registerReq.js`)
    script.
          registerUser(); 